<!DOCTYPE html>
<html lang="en">
<?php include '_head.html'; ?>
<body>
<?php include '_navbar.html'; ?>

  <div id="mainContainer" class="container">
    <div class="starter-template">
      <h1>Jalapeñcode</h1>
      <p class="lead">An awesome project!</p>
    </div>

    <div class="message text-center">
      <noscript>JavaScript must be enabled!</noscript>
    </div>
    <div class='loader'>Loading...</div>
    <div id="cartList"></div>
  </div>

<?php include '_footer.html'; ?>

<?php include '_common_js.html'; ?>
  <script src="js/app.js"></script>
</body>
</html>
